main.cgs {
    height: 100%;
    justify-content: start;
    padding-bottom: 0;
}

main.cgs>form {
    flex: 1;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

main.cgs>form>article {
    flex: 1 1 0;
    width: 100%;
    min-height: 20rem;
    overflow: auto;
    border: var(--border-width) solid rgb(var(--primary-color-data));
    padding: 1rem;
}

main.cgs>form>a[lang] {
    align-self: end;
}

main.cgs>form>nav {
    padding-top: 1.5rem;
}