fieldset.token {
    --size: 2.5rem;
    --digits: 8;
    --height: calc(var(--size) * var(--line-height-multiplier));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

fieldset.token>input {
    width: var(--size);
    font-size: var(--size);
    height: var(--height);
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
fieldset.token>.separator {
    font-size: 1.5rem;
}

@media (max-width: 29.5rem) {
    fieldset.token>.separator {
        display: block;
        width: 100%;
        height: 0;
        opacity: 0;
    }
}