input.token {
    --size: 3rem;
    --digits: 6;
    --spacing-multiplier: 0.5;
    width: calc(var(--size) * var(--digits) + var(--spacing-multiplier) * var(--size) * (var(--digits) - 1));
    height: var(--size);
    letter-spacing: calc(var(--spacing-multiplier) * var(--size));
}

/* input.token::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 50vw);
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url(/images/arrows/blue-big.svg), url(/images/arrows/green.svg), url(/images/arrows/yellow.svg), url(/images/arrows/red-big.svg);
    background-position:
        calc(50% - 0.5rem * 75 * var(--horizontal-pos-multiplier)) calc(50% - 10% * var(--vertical-pos-multiplier)),
        calc(50% - 0.5rem * 65 * var(--horizontal-pos-multiplier)) calc(50% + 30% * var(--vertical-pos-multiplier)),
        calc(50% + 0.5rem * 75 * var(--horizontal-pos-multiplier)) calc(50% - 25% * var(--vertical-pos-multiplier)),
        calc(50% + 0.5rem * 75 * var(--horizontal-pos-multiplier)) calc(50% + 30% * var(--vertical-pos-multiplier));
    background-size: auto;
    z-index: -1;
} */